<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutthe Norcal Time Trials Series</title>
</head>
<body>
    <header>
    <h1>NorCal Time Trial Series</h1>
    <img src="/asset/img/car3-1c119d48.png" alt="Background"> 
    <h2>About NCTTS</h2>
    <img src="/asset/img/LOGO-fc6fecfc.png" alt="Logo" width="200px" height="200px">
    </header>
<div class="Main">
   
    <nav class="Menu">
        <a href="/template/Home.html">Home</a>
        <a href="/template/About.html">About</a>
        <a href="/template/Contact.html">Contact</a>
        
       </nav>
    <p>
   <h3>Mission</h3> 
    To quote https://24hoursoflemons.com/:  
    “Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”
    
   <h3>Vision</h3> 
    The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.
    
    <h3>General Information</h3>
    The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech
    
   <div> Please email us at: <a href="mailto:info@nctts.org">info@nctts.org</a> 
    We will reply as quickly as we can.
</div>
</p>
</div>

</body>
</html>

