<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asset/style/style_contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="contaneir">
    <h1>NorCal Time Trial Series</h1>
    <nav class="Menu">
        <ul>
            <li><a href="/template/Home.html">Home</a></li>
            <li><a href="/template/About.html">About</a></li>
            <li><a href="/template/Contact.html">Contact</a></li>
            <li><a href="/template/Rules.html">Safety Rules</a></li>
            <li><a href="/template/General.html">General Info</a></li>

        </ul>
    </nav>   
 <div class="background"></div>

    
    <header>
       
        <h2>Contact</h2>
        
       
    </header>
      <div class="Main">
    <img class=logo src="/asset/img/LOGO-fc6fecfc.png" alt="Logo" width="150px" height="150px">
       <h3>Please email us at: 
        
        <a href="mailto:info@nctts.org">info@nctts.org</a><br>

        We will reply as quickly as we can.</h3> 
    </div>
    </div>
    </body>
</html>