<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1>NorCal Time Trial Series</h1>
        <img src="/asset/img/car2-8aeacf80.png" alt="Background"> 
        <h2>Contact</h2>
        <img src="/asset/img/LOGO-fc6fecfc.png" alt="Logo">
    </header>
    <div class="Main">
       
       <nav class="Menu">
        <a href="/template/Home.html">Home</a>
        <a href="/template/About.html">About</a>
        <a href="/template/Contact.html">Contact</a>
        
       </nav>
    
       <h3>Please email us at: 
        
        <a href="mailto:info@nctts.org">info@nctts.org</a>

        We will reply as quickly as we can.</h3> 
    </div>
    </body>
</html>