<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asset/style/style_registration.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <title>Form</title>
</head>
<div class="main-block">
    <h1>Registration Form</h1>
    <form action="/">
        <div>
        <label class="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name" id="name" placeholder="Name" required/>
    </div>
    <div>
        <label class="icon" for="name"><i class="fas fa-id-badge"></i></label>
        <input type="text" name="name" id="name" placeholder="Surname" required/>
    </div>
    <div>
        <label class="icon" for="name"><i class="fas fa-street-view"></i></label>
        <input type="text" name="name" id="name" placeholder="Street Address" required/>
    </div>
    <div>
        <label class="icon" for="name"><i class="fas fa-city"></i></label>
        <input type="text" name="name" id="name" placeholder="City" required/>
    </div>
    <div>
        <label class="icon" for="name"><i class="fas fa-map-pin"></i></label>
        <input type="text" name="name" id="name" placeholder="Zip Code" required/>
    </div>
    <div class="age">
        <label class="icon" for="name"><i class="fas fa-podcast"></i></label>
        <input type="text" name="name" id="name" placeholder="Age" required/>
    </div>
      <hr>
      <div class="gender">
        <input type="radio" value="none" id="male" name="gender" checked/>
        <label for="male" class="radio">Male</label>
        <input type="radio" value="none" id="female" name="gender" />
        <label for="female" class="radio">Female</label>
      </div>
      <hr>
      <div class="contact">
      <div>
      <label class="icon" for="name"><i class="fas fa-envelope"></i></label>
      <input type="text" name="name" id="name" placeholder="Contact Email" required/>
    </div>
    <div>
      <label class="icon" for="name"><i class="fas fa-phone"></i></label>
      <input type="text" name="name" id="name" placeholder="Contact Phone" required/>
    </div>
    </div>
      <hr>
      <div class="account-type">
        <p>Motorsports Organization Membership?</p>
        <input type="radio" value="none" id="radioOne" name="account" checked/>
        <label for="radioOne" class="radio">Sports Car Club of America (SCCA)</label>
        <input type="radio" value="none" id="radioTwo" name="account" />
        <label for="radioTwo" class="radio">National Autosport Association (NASA)</label>
        <input type="radio" value="none" id="radioThree" name="account" />
        <label for="radioThree" class="radio">Company</label>
      </div>
      <hr>
      <div class="expierience">
        <p>Previous Competitive Experience</p>
        <input type="radio" value="none" id="uno" name="expierience" checked/>
        <label for="uno" class="radio">None</label>
        <input type="radio" value="none" id="due" name="expierience" />
        <label for="due" class="radio">HPDE/Track Days</label>
        <input type="radio" value="none" id="tre" name="expierience" />
        <label for="tre" class="radio">Autocross</label>
        <input type="radio" value="none" id="quattro" name="expierience"/>
        <label for="quattro" class="radio">One Year</label>
        <input type="radio" value="none" id="cinque" name="expierience" />
        <label for="cinque" class="radio">Two years</label>
        <input type="radio" value="none" id="sei" name="expierience" />
        <label for="sei" class="radio">Over Two years</label>
      </div>
      <hr>
      <div class="license">
        <p>Racing License</p>
        <input type="radio" value="none" id="radioOne" name="license" checked/>
        <label for="radioOne" class="radio">None</label>
        <input type="radio" value="none" id="radioTwo" name="license" />
        <label for="radioTwo" class="radio">SCCA</label>
        <input type="radio" value="none" id="radioThree" name="license" />
        <label for="radioThree" class="radio">NASA</label>
        <input type="radio" value="none" id="radioFour" name="license" />
        <label for="radioFour" class="radio">FIA</label>
      </div>
      <hr>
      <div class="btn-block">
        <p>I agree that I will abide by all the rules of the NorCal Time Trial Series (NCTTS). I recognize that Motorsports are inherently dangerous. I hereby release, discharge, and/or otherwise indemnify NCTTS, their employees and associated personnel and volunteers, including the facilities used for events, against any claim by or on behalf of the registrant as a result of my participation in the series. </p>
        <p>By signing below, I hereby agree and authorize the above.</p>
        <button type="submit" href="/">Submit</button>
      </div>
    </form>
  
 <div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11963.607804920981!2d2.2274197871582126!3d41.441349099999975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bb15b03f49e1%3A0x79dd042854033197!2sStatue%20Of%20The%20Monkey%20Anise!5e0!3m2!1sit!2ses!4v1697711705140!5m2!1sit!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>

</body>
</html>