<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asset/style/style_safetyrules.css">

    <title>General Information</title>
</head>
<body>
    <div class="container">
<h1>General Information</h1>

<p>All events take place on Saturday. </p>

<h3>Locations</h3>

<table>
    <tr>
      <th>Raceway</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>Sonoma Raceway (formerly called Sears Point)</td>
      <td>29355 Arnold Dr, Sonoma, CA</td>
    </tr>
    <tr>
      <td>Thunderhill Raceway Park</td>
      <td>5250 CA-162, Willows, CA</td>
    </tr>
    <tr>
      <td>WeatherTech Raceway Laguna Seca</td>
      <td>1021 Monterey Salinas Hwy, Salinas, CA</td>
    </tr>
  </table>

<h3>Spring Schedule</h3>

<table>
    <tr>
      <th>Date</th>
      <th>Place</th>
    </tr>
    <tr>
      <td>March 12</td>
      <td>Thunderhill</td>
    </tr>
    <tr>
      <td>April 9</td>
      <td>Sonoma</td>
    </tr>
    <tr>
      <td>May 14</td>
      <td>Laguna Seca</td>
    </tr>
    <tr>
      <td>May 28</td>
      <td>Laguna Seca</td>
    </tr>
    <tr>
      <td>June 11</td>
      <td>Awards Banquet (Location TBD)</td>
    </tr>
  </table>
  
<h3> Times</h3>
<ul>
    <Li>Gates open at 7:00 AM</Li>
    <Li>First car out at 9:00 AM</Li>
    <Li>Gates close at 5:00 PM</Li>
</ul>
<footer>

    <h3>Additional Information</h3><p>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions. 
    </p> 

<h3>Please direct all questions to:</h3> <p>Michael Randall, Event Coordinator</p>
<h3>Phone:</h3><p>(415) 690-8132</p>
<h3>Email:</h3><p><a href="mailto:michael.randall@nctts.org">michael.randall@nctts.org</a> </p>
</footer>
     </div>
</body>
</html>