<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/asset/style/style_home.css">


<title>Home</title>
</head>
<body>
    <!--start 
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h3 class="my-heading ">MOJO<span class="bg-main">AVE</span></h3>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars mfa-white"></span>
            </button>

            <div id="main">
                <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a>
            </div>

         
           
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <ul class="mob-ul">
             <li class="nav-item"><a class="nav-link" href="/template/Home.html">Home</a></li>
             <li class="nav-item"><a class="nav-link" href="/template/About.html">About</a></li> 
             <li class="nav-item"><a class="nav-link" href="/template/Contact.html">Contacts</a></li>
             <li class="nav-item"><a class="nav-link" href="/template/Rules.html">Safety Rules</a></li>
             <li class="nav-item"><a class="nav-link" href="/template/General.html">General</a></li>

             
             
          </ul>
        </div>
end nav-->



        </div>
    </nav>

    <div class="contaneir">
        <h1>NorCal Time Trial Series</h1>
        <div class="burger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <nav class="Menu" id="navMenu">
            <ul>
                <li><a href="/template/Home.html">Home</a></li>
                <li><a href="/template/About.html">About</a></li>
                <li><a href="/template/Contact.html">Contact</a></li>
                <li><a href="/template/Rules.html">Safety Rules</a></li>
                <li><a href="/template/General.html">General Info</a></li>

            </ul>
        </nav>   
 
     <div class="background"></div>

        <header >

            
            <h2>Upcoming Events</h2>
    
        </header>
       <div>
        <img class=logo src="/asset/img/LOGO-fc6fecfc.png" alt="Logo" width="150px" height="150px">
    
             <div class="dates">
               <div class="event"> February 12 <br>
                Board Meeting</div>
          
                <div class="event">  February 25<br>
                Drivers Zoom Meeting</div>
          
                <div class="event">  March 12<br>
                First Event at Thunderhill!</div>
          </div> 
        </div>
    </div>
   
    <script>
function toggleMenu() {
    console.log('toggleMenu() function is being called!');
    var navMenu = document.getElementById('navMenu');
    navMenu.style.display = (navMenu.style.display === 'block' || navMenu.style.display === '') ? 'none' : 'block';
}
        </script>
        </body>
</html>